html, body, #game {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#game {
    background-image: url("../img/main-page-bcg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.tiles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%; 
}

.tiles-container > div {
    width: 50%;
    max-width: 600px;
    font-size: 22px;
    color: white;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #aac9ca;
    margin-top: 15px;
    cursor: pointer;
    box-shadow: 10px 10px 4px #000000b5;
}

/*Modals*/

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    max-width: 275px;
    width: 50%;
    background-color: white;
    border: 1px solid #888;
    padding: 10px 0px 15px 50px;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -12px;
    right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Inputs and selects*/

label {
    color: black; 
}

input[type=text],
input[type=number] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 80%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

select[name=choseManager],
select[name=choseTeam],
select[name=position] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 82%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

button[type=button] {
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    border-radius: 4px;
    background: #443f3d;
    color: white;
    height: 25px;
}

/*Snackbars/Toasts*/

#snackbar-manager,
#snackbar-team,
#snackbar-player {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-manager.show,
#snackbar-team.show,
#snackbar-player.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
