html, body, #game {
    height: 100%;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.football-stadium {
    background-image: url("../img/champions-league.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
    background-image: url("../img/main-page-bcg.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#game {
    display: flex;
    justify-content: space-between;
}

.tiles-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%; 
}

.tiles-container > div {
    width: 50%;
    max-width: 600px;
    font-size: 22px;
    color: white;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border: 1px solid #aac9ca;
    margin-top: 10px;
    cursor: pointer;
}

.football-pitch {
    width: 100%;
    background: #a4a3a3b5;
    display: flex;
}

.football-pitch img {
    max-width: 900px;
    width: 100%;
    max-height: 600px;
    height: 100%;
    margin-bottom: 4%;
}

.chose-team {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/*Modals*/

.modal {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: white;
    border: 1px solid #888;
    padding: 10px 0px 15px 50px;
    max-width: 275px;
}

.modals-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: relative;
    top: -12px;
    right: 5px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/*Inputs and selects*/

label {
    color: black; 
}

select[name=selectTeam-1],
select[name=selectTeam-2] {
    background: white;
    color: black;
    font-size: 18px;
    text-align: left;
    max-width: 190px;
    width: 100%;
    margin-right: 34%;
    height: 40px;
}

input[type=text] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 80%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

input[type=number] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 80%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

select[name=choseManager] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 82%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

select[name=choseTeam] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 82%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

button[type=button] {
    cursor: pointer;
    max-width: 100px;
    width: 100%;
    border-radius: 4px;
    background: #443f3d;
    color: white;
    height: 25px;
}

select[name=position] {
    background: #709863;
    color: black;
    font-size: 18px;
    text-align: left;
    width: 82%;
    padding: 4px 0px 4px 0px;
    margin-bottom: 5px;
}

h4 {
    margin-top: 10px;
    color: white;
}

/*Standard players position (formation 4-4-2)*/

#left-team-standard {
    position: relative;
    display: flex;
    max-width: 420px;
    width: 100%;
    margin-right: 25%;
} 

#left-team-standard > div {
    position: absolute;
}

#left-team-GK {
    top: 82%;
    left: 41%;
}

#left-team-RB {
    top: 66%;
    left: 69%;
}

#left-team-LB {
    top: 66%;
    left: 5%;
}

#left-team-RCB {
    top: 75%;
    left: 58%;
}

#left-team-LCB {
    top: 75%;
    left: 21%;
}

#left-team-RCM {
    top: 53%;
    left: 55%;
}

#left-team-LCM {
    top: 53%;
    left: 27%;
}

#left-team-RM {
    top: 32%;
    left: 73%;;
}

#left-team-LM {
    top: 32%;
    left: 10%;
}

#left-team-RCF {
    top: 14%;
    left: 54%;
}

#left-team-LCF {
    top: 14%;
    left: 29%;
}

#right-team-standard {
    position: relative;
    display: flex;
    max-width: 400px;
    width: 100%;
    margin-right: 25%;
} 

#right-team-standard > div {
    position: absolute;
}

#right-team-GK {
    top: 82%;
    left: 41%;
}

#right-team-RB {
    top: 66%;
    left: 68%;
}

#right-team-LB {
    top: 66%;
    left: 5%;
}

#right-team-RCB {
    top: 75%;
    left: 58%;
}

#right-team-LCB {
    top: 75%;
    left: 22%
}

#right-team-RCM {
    top: 53%;
    left: 56%;
}

#right-team-LCM {
    top: 53%;
    left: 26%;
}

#right-team-RM {
    top: 32%;
    left: 72%;
}

#right-team-LM {
    top: 32%;
    left: 9%;
}

#right-team-RCF {
    top: 14%;
    left: 54%;
}

#right-team-LCF {
    top: 14%;
    left: 27%;
}

.number {
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.name {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.event-buttons {
    display: flex;
    justify-content: center;
}

.standard-position {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-right: 3px;
    background: #0e50e6;
    color: white;
    border: 1px solid #0e50e6;
    max-width: 40px;
    width: 100%;
    max-height: 15px;
    height: 100%;
    padding: 1px 0px 1px 0px;
}

/*
button.remove-button {
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    background: #333;
    color: white;
    border: 1px solid #333;
    max-width: 24px;
    width: 100%;
}

.remove {
    text-align: center;
    cursor: pointer;
}
*/

/*Reserve players position*/

#left-team-reserve {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    width: 100%;
    top: 5%;
    left: 117%;
}

#right-team-reserve {
    display: flex;
    flex-direction: column;
    max-width: 180px;
    width: 100%;
    top: 5%;
    left: 120%;
}

.reserve-player-data {
    display: flex;
    margin-bottom: 10px;
}

.reserve-number {
    color: red;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    padding-right: 3px;
}

.reserve-name {
    color: black;
    font-size: 14px;
    font-weight: bold;
    padding-right: 3px;
}

.reserve-position {
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    margin-right: 3px;
    background: #0e50e6;
    color: white;
    border: 1px solid #0e50e6;
    max-width: 40px;
    width: 100%;
    max-height: 15px;
    height: 100%;
}

/*Player conditions*/

.condition {
    background: #2424a6;
    padding: 1px 3px 1px 3px;
    font-weight: 600;
    border-radius: 4px;
}

.arrow-down {
    color: #e211e2;
}

.arrow-lower-right {
    color: #11d3e8;
}

.arrow-lower-right .fa-arrow-right {
    transform: rotate(48deg);
}

.arrow-right {
    color: #20ec0a;
}

.arrow-upper-right {
    color: orange;
}

.arrow-upper-right .fa-arrow-up {
    transform: rotate(42deg);
}

.arrow-up {
    color: red;
}

/*Snackbars/Toasts*/

#snackbar-manager {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-manager.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-team {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-team.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-player {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-player.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}