body {
	font-family: Arial, Helvetica, sans-serif;
	height: 100%;
	margin: 0;
}

/*Header*/

.table-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 70px;
	background: cadetblue;
	position: relative;
	box-shadow: 0px 0px 10px 1px #0000009c; 
}

#gameplay {
	display: flex;
	cursor: pointer;
	color: white;
	font-size: 22px;
	font-weight: 800;
	align-items: center;
	padding: 0px 14px;
}

h1 {
	display: flex;
	align-items:  center;
	color: white;
	font-weight: 800;
	font-size: 28px;
	width: 50%;
}

/*Aside and main-content*/

.main-container {
	display: flex;
}

.aside {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	max-width: 260px;
	width: 30%;
	background: #ddd;
	min-height: calc(100vh - 70px);
	box-shadow: 0px 0px 15px 0px #0000009c;
}

#managers,
#teams,
#players {
	font-size: 22px;
	color: cadetblue;
	display: flex;
	justify-content: center;
	height: 100px;
	cursor: pointer;
	text-align: center;
	align-items: center;
	transition: 0.3s;
	border-bottom: 1px solid cadetblue;
}

#managers:hover,
#teams:hover,
#players:hover,
#managers.active,
#teams.active, 
#players.active {
	background: cadetblue;
	color: white;
}

/*Caption and table*/

#main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	padding: 20px;
}

#caption {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 20px;
}

.players,
.teams,
.managers {
	font-size: 22px;
	font-weight: bold;
}

#create-player,
#create-team,
#create-manager {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 8px 4px;
	color: white;
	background: #709863b5;
	font-size: 14px;
	align-items: center;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

#create-team {
	padding: 5px 13px;
	font-size: 15px;
}

#create-player {
	padding: 5px 9px;
	font-size: 15px; 
}

#create-player:hover,
#create-team:hover,
#create-manager:hover {
	background: cadetblue;
	box-shadow: 0px 0px 15px #0000009c;
}

.table-head-actions {
	width: 20px;
}

.action-buttons {
	display: flex;
}

#edit-button {
	padding:  5px 8px;
	color: white;
	background: #ffa500b3;
	font-size: 15px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 4px;
	cursor: pointer;
	transition: 0.3s;
}

#delete-button {
	padding:  5px 8px;
	color: white;
	background: #ff00009e;
	font-size: 15px;
	align-items: center;
	display: flex;
	justify-content: center;
	border-radius: 4px;
	margin-left: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#edit-button:hover {
	background: orange;
	box-shadow: 0px 0px 15px #0000009c;
}

#delete-button:hover {
	background: #ff0000e6;
	box-shadow: 0px 0px 15px #0000009c;
}

table, tr {
	border-bottom: 1px solid #808080a1;
	border-collapse: collapse;
	color: #4f4848;
	font-size: 22px;
	width: 100%;
}

th, td {
	padding: 5px;
	text-align: left;
}

/*Modals*/

.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4); 
}

.modal-content {
	max-width: 275px;
	width: 50%;
	background-color: white;
	border: 1px solid #888;
	padding: 10px 0px 15px 50px;
}

.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
	position: relative;
	top: -12px;
	right: 5px;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

/*Inputs and selects*/

label {
	color: #111111;
	font-weight: 800; 
}

input[type=text],
input[type=number] {
	width: 80%;
}

input[type=text],
input[type=number],
select[name=chooseManager],
select[name=chooseTeam],
select[name=position] {
	background: #709863;
	color: black;
	font-size: 18px;
	text-align: left;
	width: 82%;
	padding: 4px 0px 4px 0px;
	margin-bottom: 5px;
}

button[type=button],
input[type=submit] {
	cursor: pointer;
	max-width: 100px;
	width: 100%;
	border-radius: 4px;
	background: #443f3d;
	color: white;
	height: 25px;
}

button[type=button]:hover,
input[type=submit]:hover {
	box-shadow: 0px 0px 15px #0000009c;
	background-color: #001f3f;
}

/*Snackbars/Toasts*/

#snackbar-message,
#snackbar-player,
#snackbar-team,
#snackbar-manager {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 2px;
	padding: 16px;
	position: fixed;
	z-index: 1;
	left: 50%;
	bottom: 30px;
	font-size: 17px;
}

#snackbar-message.show,
#snackbar-player.show,
#snackbar-team.show,
#snackbar-manager.show {
	visibility: visible;
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
	from {bottom: 0; opacity: 0;} 
	to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
	from {bottom: 0; opacity: 0;}
	to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
	from {bottom: 30px; opacity: 1;} 
	to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
	from {bottom: 30px; opacity: 1;}
	to {bottom: 0; opacity: 0;}
}

/*Media query*/

@media screen and (max-width: 1200px) {
	.players {
		font-size: 20px;
	}

	#create-player {
		font-size: 14px;
	}

	#delete-button,
	#edit-button {
		font-size: 13px;
	}

	th, td {
		font-size: 17px;
	}
}

@media screen and (max-width: 992px) {
	.players {
		font-size: 18px;
	}
	
	#create-team,
	#create-player {
		font-size: 14px;
	}

	#delete-button,
	#edit-button {
		font-size: 13px;
	}

	th, td {
		font-size: 15px;
	}
}

@media screen and (max-width: 768px) {
	.players,
	.teams,
	.managers {
		font-size: 16px;
	}

	#create-manager {
		font-size: 13px;
	}

	#create-team {
		font-size: 14px;
		padding: 5px 11px;
	}

	#create-player {
		font-size: 14px;
	}

	#delete-button,
	#edit-button {
		font-size: 13px;
	}

	th, td {
		font-size: 13px;
	}

	#managers,
	#teams,
	#players {
		font-size: 20px;
	}
}

@media screen and (max-width: 600px) {
	.players {
		font-size: 16px;
	}

	#create-player {
		font-size: 14px;
	}

	#delete-button,
	#edit-button {
		font-size: 13px;
	}

	th, td {
		font-size: 11px;
	}

	#managers,
	#teams,
	#players {
		font-size: 19px;
	}
}

@media screen and (max-width: 550px) {
	.players {
		font-size: 16px;
	}

	#create-player,
	#create-team {
		font-size: 13px;
	}

	#create-manager {
		font-size: 12px;
	}

	#delete-button,
	#edit-button {
		font-size: 11px;
	}

	th, td {
		font-size: 10px;
	}

	#managers,
	#teams,
	#players {
		font-size: 18px;
	}
}
